{% assign encounter_id = include.name | replace: ' ', '_' %}
<details is="dnd-encounter" class="encounter" id="{{ encounter_id }}">
  <summary>{{ include.name }}</summary>
  <div>
    <button onclick="{{ encounter_id }}.setAbilitySuffix('')">Score</button>
    <button onclick="{{ encounter_id }}.setAbilitySuffix('Mod')">Modifier</button>
    <button onclick="{{ encounter_id }}.setAbilitySuffix('Save')">Save</button>
  </div>
  <div>
    <button onclick="autoRollInitiative('{{ encounter_id }}.table')" >Auto Roll Initiative</button>
    <button onclick="{{ encounter_id }}.selectPrevious()">Previous</button>
    <button onclick="{{ encounter_id }}.selectNext()">Next</button>
  </div>
  <table class="dnd-encounter-table">
    {% include dnd/entity-table-head.html %}
    <tbody>
      {% assign encounter = page.encounters | where: "name", include.name | first %}
      {% for entity_name in encounter.entities %}

      {% assign hierarchy = entity_name | split: "." %}
        {% assign entity = site.data.dnd %}
        {% for hierarchy_name in hierarchy %}
          {% assign entity = entity[hierarchy_name] %}
        {% endfor %}

        {% include dnd/entity-row.html entity=entity entity_prefix=forloop.index %}
      {% endfor %}
    </tbody>
  </table>
</details>
