{% assign encounter_id = include.name | replace: ' ', '_' %}
{% assign encounter = page.encounters | where: "name", include.name | first %}
<details is="dnd-encounter" class="encounter" id="{{ encounter_id }}">
  <summary>{{ include.name }}</summary>
  <div>
    <button onclick="autoRollInitiative('{{ encounter_id }}.table')" >Auto Roll Initiative</button>
    <button onclick="{{ encounter_id }}.selectPrevious()">Previous</button>
    <button onclick="{{ encounter_id }}.selectNext()">Next</button>
    <button onclick="{{ encounter_id }}.setAbilitySuffix('')">Score</button>
    <button onclick="{{ encounter_id }}.setAbilitySuffix('Mod')">Modifier</button>
    <button onclick="{{ encounter_id }}.setAbilitySuffix('Save')">Save</button>
  </div>
  <table class="dnd-encounter-table">
    {% include dnd/entity-table-head.html %}
    <tbody>
      {% for entity_path in encounter.entities %}

      {% assign hierarchy = entity_path | split: "." %}
        {% assign entity = site %}
        {% for hierarchy_name in hierarchy %}
          {% assign entity = entity[hierarchy_name] %}
        {% endfor %}

        {% include dnd/entity-row.html entity=entity entity_prefix=forloop.index entity_path=entity_path %}
      {% endfor %}
    </tbody>
  </table>
  <details>
    <summary>Details</summary>
    {% for entity_path in encounter.entities %}

    {% assign hierarchy = entity_path | split: "." %}
      {% assign entity = site %}
      {% for hierarchy_name in hierarchy %}
        {% assign entity = entity[hierarchy_name] %}
      {% endfor %}
      <div class="dnd-entity-details hidden" data-entity-name="{{ entity_path }}">
        {% include dnd/entity-details.html entity=entity entity_path=entity_path %}
      </div>
    {% endfor %}
  </details>
</details>
