{% assign entity_id = include.entity_prefix | default: "" %}
{% if entity_id != "" %} {% assign entity_id = entity_id | append: "." %} {% endif %}
{% assign entity_id = entity_id | append: include.entity.name | replace: ' ', '_' %}

<tr
  is="dnd-entity"
  id="{{ entity_id }}"
  class="entity"
  data-path="{{ include.entity_path }}"
  data-name="{{ include.entity.name }}"
  data-link="{{ include.entity.link }}"
  data-proficiency="{{ include.entity.proficiency }}"
  data-max-hp="{{ include.entity.hp }}"
  data-ac="{{ include.entity.ac }}"
  data-str="{{ include.entity.str }}"
  data-dex="{{ include.entity.dex }}"
  data-con="{{ include.entity.con }}"
  data-int="{{ include.entity.int }}"
  data-wis="{{ include.entity.wis }}"
  data-cha="{{ include.entity.cha }}"
  {% for bonus in include.entity.bonuses %}
  data-{{ bonus[0] }}-bonuses="{{ bonus[1] }}"
  {%- endfor -%}>
  <th>
    <dnd-entity-name class="dnd-entity-link"></dnd-entity-name>
  </th>
  <td>
    <button class="dnd-action" data-actions="click:roll(initiative) contextmenu:clear(initiative) click[ctrl]:input(initiative)">
      <dnd-entity-ability data-ability="initiative"></dnd-entity-ability>
    </button>
  </td>
  <td>
    {{ include.entity.ac }}
  </td>
  <td>
    <button class="dnd-action" data-actions="click:decrement(hp) click[ctrl]:decrement(hp,5) contextmenu:increment(hp) contextmenu[ctrl]:increment(hp,5)">
      <dnd-entity-attribute data-attribute="hp"></dnd-entity-attribute>/<dnd-entity-attribute data-attribute="maxHp"></dnd-entity-attribute>
    </button>
  </td>
  <td><dnd-entity-ability data-ability="str"></dnd-entity-ability></td>
  <td><dnd-entity-ability data-ability="dex"></dnd-entity-ability></td>
  <td><dnd-entity-ability data-ability="con"></dnd-entity-ability></td>
  <td><dnd-entity-ability data-ability="int"></dnd-entity-ability></td>
  <td><dnd-entity-ability data-ability="wis"></dnd-entity-ability></td>
  <td><dnd-entity-ability data-ability="cha"></dnd-entity-ability></td>
</tr>
