{% assign entity_id = include.entity_prefix | default: "" %}
{% if entity_id != "" %} {% assign entity_id = entity_id | append: "." %} {% endif %}
{% assign entity_id = entity_id | append: include.entity.name | replace: ' ', '_' %}

<tr id="{{ entity_id }}"
  class="entity"
  data-proficiency="{{ include.entity.proficiency }}"
  data-hp="{{ include.entity.hp }}"
  data-ac="{{ include.entity.ac }}"
  data-str="{{ include.entity.str }}"
  data-dex="{{ include.entity.dex }}"
  data-con="{{ include.entity.con }}"
  data-int="{{ include.entity.int }}"
  data-wis="{{ include.entity.wis }}"
  data-cha="{{ include.entity.cha }}"
  {% for bonus in include.entity.bonuses %}
  data-{{ bonus[0] }}-bonuses="{{ bonus[1] }}"
  {%- endfor -%}>
  <th><a href="{{ include.entity.link }}">{{ include.entity.name }}</a></th>
  <td><button
    id="{{ entity_id }}.initiative"
    class="modifier action"
    data-value="{{ entity_id }}:initiative"
    data-roll="d20"
    data-actions="click:prompt contextmenu:roll"
  ></button></td>
  <td id="{{ entity_id }}.ac" class="value" data-value="{{ entity_id }}:ac"></td>
  <td><button id="{{ entity_id }}.hp" class="value" data-value="{{ include.entity.hp }}">
    <a id="{{ entity_id }}.hp.current" class="value" data-value="{{ entity_id }}.hp:value"></a>
    /<a id="{{ entity_id }}.hp.max" class="value" data-value="{{ entity_id }}:hp"></a>
  </button></td>
  <td id="{{ entity_id }}.str" class="modifier" data-value="{{ entity_id }}:strMod"></td>
  <td id="{{ entity_id }}.dex" class="modifier" data-value="{{ entity_id }}:dexMod"></td>
  <td id="{{ entity_id }}.con" class="modifier" data-value="{{ entity_id }}:conMod"></td>
  <td id="{{ entity_id }}.int" class="modifier" data-value="{{ entity_id }}:intMod"></td>
  <td id="{{ entity_id }}.wis" class="modifier" data-value="{{ entity_id }}:wisMod"></td>
  <td id="{{ entity_id }}.cha" class="modifier" data-value="{{ entity_id }}:chaMod"></td>
</tr>
